.play-app {
    background-color: #282828;
}

.boards {
  display: grid;
}

.controls {
  margin-left: 25px;
}

.board-player-top {
  margin-top: 20px;
  margin-bottom: 20px;
}

.board-player-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}